{% extends "base.html" %}
{% block content %}
    <h2>Perfiles de Usuario</h2>
    <table border="1">
        <tr>
            <th>Usuario</th>
            <th>Nombre Completo</th>
            <th>Fecha Nacimiento</th>
            <th>Curso</th>
            <th colspan="2">Menu</th>
        </tr>
        {% for perfil in object_list %}
            <tr>
                <td>{{ perfil.usuario.username }}</td>
                <td>{{ perfil.usuario.get_full_name }}</td>
                <td>{{ perfil.fecha_nacimiento }}</td>
                <td>{{ perfil.get_curso_display }}</td>
                <td><a href="{% url 'perfilusuario_update' perfil.pk %}">Editar</a></td>
                <td><a href="{% url 'perfilusuario_delete' perfil.pk %}">Borrar</a></td>
        {% empty %}
                <td colspan=100%>No hay usuarios.</td>
            </tr>
        {% endfor %}
    </table>
    <p><a href="{% url 'perfilusuario_create' %}">Crear perfil usuario</a></p>
{% endblock %}
