{% extends "base.html" %}
{% block content %}
    <h2>Técnicos</h2>
    <table border="1">
        <tr>
            <th>Usuario</th>
            <th>Especialidad</th>
            <th>Incidencias Asignadas</th>
            <th colspan="2">Menu</th>
        </tr>
        {% for tecnico in object_list %}
            <tr>
                <td>{{ tecnico.usuario.username }}</td>
                <td>{{ tecnico.especialidad }}</td>
                <td>{{ tecnico.incidencias_asignadas.count }}</td>
                <td><a href="{% url 'perfilusuario_update' tecnico.pk %}">Editar</a></td>
                <td><a href="{% url 'tecnico_delete' tecnico.pk %}">Borrar</a></td>
        {% empty %}
                <td colspan=100%>No hay tecnicos.</td>
            </tr>
        {% endfor %}
    </table>
    <p><a href="{% url 'tecnico_create' %}">Crear tecnico</a></p>
{% endblock %}