{% extends "base.html" %}
{% block content %}
    <h2>Perfiles de Usuario</h2>
    <table border="1">
        <tr>
            <th>Usuario</th>
            <th>Nombre Completo</th>
            <th>Fecha Nacimiento</th>
            <th>Curso</th>
        </tr>
        {% for perfil in object_list %}
            <tr>
                <td>{{ perfil.usuario.username }}</td>
                <td>{{ perfil.usuario.get_full_name }}</td>
                <td>{{ perfil.fecha_nacimiento }}</td>
                <td>{{ perfil.get_curso_display }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
